# Database Configuration
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=no-verify"

PGUSER=your_db_user
PGPASSWORD=your_db_password
PGHOST=your_db_host
PGPORT=25060
PGDATABASE=your_database_name

# Bitcoin RPC Configuration
BITCOIN_RPC_USER=your_rpc_user
BITCOIN_RPC_PASSWORD=your_rpc_password

# Ord Server URL
NEXT_PUBLIC_ORD_SERVER_URL=http://your-ord-server:3000

# API Keys
BESTIN_SLOT_API_KEY=your_bestin_slot_api_key
MAGIC_EDEN_API_KEY=your_magic_eden_api_key
